.container-costum {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 320px) {
  .video-overlay-enabled, .watch-medium, .watch-medium .vjs-tech {
      height: 203px;
  }
  .player-width {
      width: 360px !important;
  }
}
@media (min-width: 768px) {
  .container-costum {
    width: 750px;
  }
  .video-overlay-enabled, .watch-medium, .watch-medium .vjs-tech {
      height: 422px;
  }
  .player-width {
      width: 750px !important;
  }
}
@media (min-width: 992px) {
  .container-costum {
    width: 970px;
  }
  .player-width {
      width: 854px !important;
  }
}
@media (min-width: 1200px) {
  .container-costum {
    width: 1170px;
  }
   .video-overlay-enabled, .watch-medium, .watch-medium .vjs-tech {
      height: 481px;
  }
  .player-width {
      width: 854px !important;
  }
}
@media (min-width: 1920px) {
  .video-overlay-enabled, .watch-medium, .watch-medium .vjs-tech {
      height: 658px;
  }
  .player-width {
      width: 1170px !important;
  }
}

.videocontent {
        z-index: 50;
        position: relative;
    }  
.video-overlay-enabled{
        //background: #1b1b1b;
        background: rgba(0, 0, 0, 1);
        width:100%;
        position:absolute;
        left:0;
        z-index:1;
        -moz-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
        -webkit-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
        transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
    } 
    .video-overlay {
        background: rgba(0, 0, 0, 0) !important;
        -moz-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
        -webkit-transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
        transition: background-color .3s ease-in-out,background-image .3s ease-in-out;
    }
.watch-medium, .watch-medium .vjs-tech {
        width: 100%;
        padding-top:0;
        
    }   
.watch-medium .vjs-fullscreen .vjs-tech {
      //  height: auto !important;
    }   
    
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    }
    
/* Sidebar video */
#sidebar-modules, .col-normal, .col-normal2 {
    margin-top: 10px;
    }
#sidebar-modules .watch-sidebar-section {
    position: relative;
    z-index: 2;
    margin: 0 0 15px 0;
    }
.video-list-item {
    position: relative;
    margin-bottom: 15px;
    }
.video-list-item a {
    position: relative;
    padding: 0 5px;
    display: block;
    overflow: hidden;
    color: #333;
    zoom: 1;
    }
.video-list-item .title {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    margin-top: 3px;
    }
.video-list-item .stat {
    display: block;
    margin: 5px 0 5px 0;
    white-space: nowrap;
    }
.video-list-item .vc-thumb {
    float: left;
    margin: 0 0 0 0;
    }
.vc-thumb {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    }
.video-thumb {
    position: relative;
    }
.vc-thumb-120 {
    width: 120px;
    height: 68px;
    }
.vc-thumb {
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
    vertical-align: middle;
    display: inline-block;
    }
.vc-thumb-default {
   // padding-bottom: 56.25%;
    }
.vc-thumb-default {
    display: block;
    height: auto;
    }
.vc-thumb-clip {
    position: static;
    _position: static;
    bottom: -100px;
    top: -100px;
    left: -100px;
    right: -100px;
    text-align: center;
    white-space: nowrap;
    word-break: normal;
    }
.vc-thumb-clip img, .vc-thumb-clip .vertical-align {
    display: inline-block;
    vertical-align: middle;
    }
.vc-thumb .vertical-align {
    height: 100%;
    }
#sidebar-modules .watch-sidebar-body .video-list-item:last-child {
    margin-bottom: 0;
    }
    
.tab-cnt{width: auto; height:auto; padding: 5px; background-color: #fafafa; overflow: auto; }
.bg-green{ background-color: #559900;}
.bg-red{background-color: #c9231a;}
.tab-cnt h1{font-size: 22px; font-family: arial; margin-bottom: 15px;}
.tab-tr{
	width: 100%; height: 60px; 
	border-bottom: #e6e6e6 1px solid; border-top: #e6e6e6 1px solid;	
}
.stat-cnt{ 	width: 120px; height: 60px; float: right;}
.stat-bar{	width: 120px; height: 3px;	margin-bottom: 5px;}
.rate-count{ font-size: 20px; color: #333; text-align: right; font-weight: bold; }
.stat-bar div{height: 3px; float: left;}
.like-count, .dislike-count{
	width: auto; height: 18px; 
	float: right; 
	font-size: 12px; line-height: 18px; color: #666;
	padding-left: 15px;
}
.embedclass {
      
}