.container-costum {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 320px) {
  .video-overlay-enabled, .watch-medium, .watch-medium .vjs-tech {
      height: 203px;
  }
  .player-width {
      width: 360px !important;
  }
}
@media (min-width: 768px) {
  .container-costum {
    width: 750px;
  }
  .video-overlay-enabled, .watch-medium, .watch-medium .vjs-tech {
      height: 422px;
  }
  .player-width {
      width: 750px !important;
  }
}
@media (min-width: 992px) {
  .container-costum {
    width: 970px;
  }
  .player-width {
      width: 854px !important;
  }
}
@media (min-width: 1200px) {
  .container-costum {
    width: 1170px;
  }
   .video-overlay-enabled, .watch-medium, .watch-medium .vjs-tech {
      height: 481px;
  }
  .player-width {
      width: 854px !important;
  }
}
@media (min-width: 1920px) {
  .video-overlay-enabled, .watch-medium, .watch-medium .vjs-tech {
      height: 658px;
  }
  .player-width {
      width: 1170px !important;
  }
}

.videocontent {
        z-index: 50;
        position: relative;
    }  
.video-overlay-enabled{
        background: #1b1b1b;
        width:100%;
        position:absolute;
        left:0;
        z-index:1;
        -moz-transition: background-color .3s ease;
        -webkit-transition: background-color .3s ease;
        transition: background-color .3s ease;
    }  
.watch-medium, .watch-medium .vjs-tech {
        width: 100%;
        padding-top:0;
    }   
.watch-medium .vjs-fullscreen .vjs-tech {
        height: auto !important;
    }   
.float-right {
        float: right;
    }
